
{% if option.type == 'slider' %}

	<style type="text/css">
	.vis-option-group.vis-option-type-slider .vis-option-help {
		top: 2px!important;
	}
	</style>
    
    <label class="control-label">{{ option.label | raw }}</label>
    <div class="controls">
        <input type="range" style="width:130px" min="{{ option.min }}" max="{{ option.max }}" step="{{ option.step }}" id="{{ key }}" />
        <span class="value"></span>
    </div>

{% endif %}