
{% if option.type == 'typeahead' %}

	<style type="text/css">
	
.typeahead2,
.tt-query,
.tt-hint {
  width: 200px;
  height: 30px;
  padding: 4px 6px;
  line-height: 24px;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  outline: none;
}

.typeahead2 {
  background-color: #fff;
}

.typeahead2:focus {
  border: 1px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 0px 0;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 7px;
  line-height: 20px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

	</style>
    
    <label class="control-label" style="vertical-align:middle">{{ option.label | raw }}</label>
    <div class="controls" style="vertical-align:middle">
        <input class="typeahead2" placeholder="{{ option.placeholder }}" type="text" style="width:230px" id="{{ key }}" />
        
    </div>

{% endif %}